/*Default CSS layout for narrow screens*/

x-flipbox {
  width: 400px;
  height: 300px;
}

x-flipbox div:first-child {
  background: red;
}

x-flipbox div:last-child {
  background: blue;
}

@media (min-width: 480px) {
  /*CSS for medium width screens*/
}

@media (min-width: 800px) {
  /*CSS for wide screens*/
}

@media (min-width: 1100px) {
  /*CSS for really wide screens*/
}